{
  "presets": [
    "@babel/preset-react",
    [
      "@babel/preset-typescript",
      {
        "isTSX": true,
        "allExtensions": true
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-typescript", {}],

    "@babel/plugin-proposal-class-properties"
  ],
  "ignore": ["src/**/*.d.ts"]
}
