{
    "presets": [
        "@babel/preset-react",
        "@babel/plugin-proposal-class-properties",
        [
            "@babel/preset-typescript",
            {
                "isTSX": true,
                "allExtensions": true
            }
        ]
    ]
}