registry=https://artifactory.iavgroup.local/artifactory/api/npm/npm-remote/

@iav:registry=https://artifactory.iav.com/artifactory/npm-iav
//artifactory.iav.com/artifactory/npm-iav:_auth=base64Encode(${artifactory_user}:${artifactory_token})