.group-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
}

.group-name {
    text-transform: uppercase;
    font-size: 1rem !important;
}

.group-logo {
    height: 1.2rem;
    /* Calculated from width of navigation logos */
    margin-left: 10px;
    /* Calculated from width of navigation logos */
    margin-right: 20px;
}

#navbar {
    width: var(--navbar-width);
}

.navbar-tab {
    border-style: solid;
    border-width: 0 0 1px 0;
}

.navbar-tab img {
    margin-left: 5%;
}

#navbar-tab-name {
    font-weight: bold;
    margin-left: 10px;
}

.p-accordion-content .navbar-tab-wrapper {
    border-width: 0 3px 0 0 !important;
    border: solid;
    border-color: var(--borderColor-right, #0091ff);
}

.p-accordion-content .navbar-tab-wrapper.active {
    border-width: 0 3px 0 0 !important;
    border: solid;
    border-color: var(--borderColor-right-active, #0091ff);
}

/* Anpassen des Akkordion-Styles */

.accordiontab-style.p-accordion-header {
    height: 35px !important;
}

.accordiontab-style.p-accordion-header a {
    height: 100%;
    padding: 0 !important;
    border-radius: 0 !important;
    background-color: var(--backgroundColor-accordionHeader, #ffffff) !important;
    border-width: 0 0 1px 0 !important;
    border-color: var(--borderColor-bottom, #cdcdcd) !important;
    outline: 0 !important;
    border: 1px solid;
    font-weight: 500 !important;
    color: var(--arrow-color, #0091ff) !important;
}

.accordiontab-style.p-accordion .p-accordion-header:not(.p-disabled) .p-accordion-header-link:focus {
    box-shadow: none !important;
}

.accordiontab-style .p-accordion-content {
    padding: 0 !important;
    border: none !important;
}

.accordiontab-style .p-accordion-header-link {
    flex-direction: row-reverse !important;
    justify-content: space-between !important;
}

.accordiontab-style.p-accordion-header-text {
    width: 100%;
}

.accordion-style.p-accordion .p-accordion-tab {
    margin-bottom: 0px;
}