.default-tab-style {
  font-weight: 500;
  opacity: 1;
  cursor: pointer;
  height: 40px;
  padding: 0px 16px 0px 8px;
}

#navbar-tab-name {
  font-size: 14px;
  margin-left: 8px;
}

#navbartab-general {
  padding: 0px 16px 0px 2px;
}

#hover-image .p-tooltip-text {
  background-color: var(--magenta-2) !important;
}

#hover-image .p-tooltip-arrow {
  color: var(--magenta-2) !important;
}

.navbar-tab-space {
  margin-top: 4px;
}